---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';

import Layout from '~/layouts/PageLayout.astro';
import ListItem from '~/components/blog/ListItem.astro';
import Headline from '~/components/ui/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';

import { blogListRobots, getStaticPathsBlogList } from '~/utils/blog';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogList({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props as Props;
const currentPage = page.currentPage ?? 1;

const metadata = {
  title: `Blog${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  robots: {
    index: blogListRobots?.index && currentPage === 1,
    follow: blogListRobots?.follow,
  },
  openGraph: {
    type: 'blog',
  },
};
---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline
      tagline="Blog"
      title="The latest from the Signal K community"
      subtitle="Keep up with the latest news, updates, tutorials, and insights to help you get the most out of Signal K."
    />

    <ul>
      {
        page.data.map((post) => (
          <li class="mb-12 md:mb-20">
            <ListItem post={post} />
          </li>
        ))
      }
    </ul>

    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</Layout>
